:root{
  --dark: #1F2124;
  --white: #F8FAFF;
  --blue1: #9DC8C8;
  --blue2: #58C9B9;
  --blue3: #519D9E;
  --purple: #D1B6E1;
}

body{
    font-family: 'Roboto', serif;
}

.border-dark{
    border-color: var(--dark) !important;
}

.bg-primary, .btn-primary{
    background-color: var(--blue3) !important;
}

.btn-primary{
    border-color: var(--blue3) !important;
}

/* .btn-primary:focus, .btn-primary:hover{
    box-shadow: 0 0 0 .2rem red;
} */

.bg-secondary{
    background-color: var(--purple) !important;
}

.bg-light{
    background-color: var(--blue1) !important;
}

.article{
    object-fit: cover;
}

.article-color{
    height: 1.5rem;
    width: 1.5rem;
}
